.updateImage{
    background-image: url("../../../assets/Refresh BG.png");
    background-size: cover;
    height: 44px;
    width: 44px;
    outline: none;
    border: none;
    border-radius: 5px;
}
