.next-weather {
  &-date {
    font-size: 22px;
  }
  &-description{
    display: flex;
    font-size: 80px;
    .weather-img{
      position: relative;
      top:-2rem;
      img{
        @media screen and (max-width: 1010px){
          width: 70px;
        }
      }

    }
    @media screen and (max-width: 460px){
      font-size: 45px;
    }
  }
}
